<p>Total number of emails sent is: <%= @analytics.calculate_total(event: 'send') %></p>
<p>Total number of emails opened is: <%= @analytics.calculate_total(event: 'open') %></p>
<p>Total number of emails clicked is: <%= @analytics.calculate_total(event: 'click') %></p>
<br>
<% for email_type in @analytics.email_types %>
  <p>Open rate for <%= email_type %> emails is <%= @analytics.open_rate(email_type)  %>%</p>
  <p>Click rate for <%= email_type %> emails is <%= @analytics.click_rate(email_type)  %>%</p>
  <br>
<% end %>
